body{ background: #f6f5fa; font-family: Microsoft Yahei; }
body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.bd{ width: 80%; margin: 25px auto 0; text-align: center; }
.logo{ margin: auto; width: 46px; height: 46px; border-radius: 50%; background: red; display: block; }
.text{font-size: 20px;margin-top: 10px;}
.input-group{width: 100%;border: 1px solid #ccc;margin-top: 35px;padding: 10px 15px;background: #fff;text-align: left;}
.input-group label{ font-size: 16px; }
.input-group .form-control{border: 0;outline: 0;height: 30px;width: 90%;font-size: 22px;}

.media {margin-top: 10px;font-size: 22px;}
.media,
.media-body { zoom: 1; overflow: hidden; }
.media-body { width: 10000px; }
.media-right { padding-left: 10px; }
.media-left { padding-right: 10px; }
.media-left,
.media-right,
.media-body { display: table-cell; vertical-align: middle;  }
.keyboard{ border-collapse: collapse; width: 100%; position: absolute; position: fixed; bottom: 0; left: 0;font-size: 24px; background: #fff; color: #535353; }
.keyboard,
.keyboard td{ border: 1px solid #e5e5e5; vertical-align: middle; line-height: 32px; }
.keyboard td{ width: 25%; padding: 8px 0; line-height: 32px; }
.keyboard .c{ color: #ff9605; }
.keyboard .pay{ background: #00aaee; color: #fff; }
.keyboard img{ height: 24px; vertical-align: -3px; }