.theme-blue .header{ background: #fff; }
.theme-blue .header .container { position: relative; }
.theme-blue .header .right{ position: absolute; display: inline-block; right: 0; bottom: 14px; font-size: 0; }
.theme-blue .header .right * { font-size: 12px; }
.theme-blue .header .right a{ color: #666; }
.theme-blue .header .logo{ display: inline-block; margin: 14px 0; }

.theme-blue .nav{ background: $color-bg-nav; line-height: 1; }
.theme-blue .nav .container { margin-bottom: 0; font-size: 0; }
.theme-blue .nav .container li{ position: relative; display: inline-block; margin-right: 4px; }
.theme-blue .nav .container li a{ font-size: 14px; display: block; padding: 9px 10px; color: #fff; }
.theme-blue .nav .container li .children li { display: block; }
.theme-blue .nav .container li:hover a { text-decoration: none; background: $color-bg-nav-hover; }
.theme-blue .nav .container li.active a{ background: $color-bg-nav-hover; }
.theme-blue .nav .container li .children{
  position: absolute;
  left: 0; top: 32px;
  width: auto;
  padding: 0;
  display: none;
  font-size: 14px;
  background: $color-bg-nav-hover; z-index: 1000; }

.theme-blue .nav .container li:hover .children{ display: block; }
.theme-blue .nav .container li .children a{ white-space: pre; }
.theme-blue .nav .container li .children li { margin: 0; }
.theme-blue .nav .container li .children a:hover{ background: $color-bg-nav; }
.theme-blue .bd{ background: #fff; padding-bottom: 20px; }
.theme-blue .aside,
.theme-blue .main{ float: left; }
.theme-blue .aside{ width: 180px; margin-top: 20px; }
.theme-blue .aside .affix{ top: 20px; }
.theme-blue .aside .inner{ width: 180px; border: #dfdfdf 1px solid; background: #f9fbfc; padding-bottom: 10px; }
.theme-blue .aside .inner a{ display: block; padding: 10px; font-size: 14px; text-decoration: none; color: #666; border-bottom: #efefef 1px solid; }
.theme-blue .aside .inner a:hover,
.theme-blue .aside .inner .active{ background: #1b8dff; color: #fff; }
.theme-blue .aside .inner a:before{ display: inline-block; overflow: hidden; content: ''; border: 4px dashed transparent; border-left: 4px solid #666; width: 0; height: 0; line-height: 0; margin-right: 10px; vertical-align: 1px; }
.theme-blue .aside .inner a:hover:before,
.theme-blue .aside .inner .active:before{ border-left-color: #fff; }
.theme-blue .main{ width: 800px; margin-top: 20px; margin-left: 20px; }
.theme-blue .panel-main { margin-bottom: 0; }
.theme-blue .panel-main .panel-body{ min-height: 460px; }
.theme-blue,
.theme-blue .footer{ background: #f3f3f3; }
.theme-blue .footer{ border-top: #dedede 1px solid; text-align: center; }
.theme-blue .footer .container{ padding: 20px 0; background: #f3f3f3; border-top: #dedede 1px solid; margin-top: -1px; }
.theme-blue .footer .links{ font-size: 0; margin-bottom: 10px; }
.theme-blue .footer .links * { font-size: 12px; color: #666; }