
/*<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">*/
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(./fonts/Quicksand%20Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* =================== start mark =================== */
.komark{ position: absolute; z-index: 1040; color: #202ccc; font-family: Arial;  text-align: center; } /* #cc2026 */
.komark *{ box-sizing: border-box; }
.komark .mark--text{
    font-size: 12px; line-height: 1; position: absolute; }
.mark-top{

}

.mark-top .mark--solid,
.mark-bottom .mark--solid{
    position: relative;
    width: 100%;
    border: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 10px;
    border-style: solid;
}
.mark-top .mark--solid:after,
.mark-bottom .mark--solid:after{position: absolute;display: block;content: "";width: 100%;top: 50%;border: 0;height: 1px;border-top-width: 1px;border-style: solid;}
.mark-top .mark--dotted,
.mark-bottom .mark--dotted{
    width: 100%;
    border: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 10px;
    border-style: dotted;
}
.mark-top .mark--text{ left: 50%; top: -16px; transform: translate(-50%);  }
.mark-bottom .mark--text{ left: 50%; bottom: -16px; transform: translate(-50%);  }


.mark-left,
.mark-right {
    font-size: 0;
    width: 20px;
    text-align: left;
}
.mark-left .mark--text{top: 50%;left: -32px; transform: translate(0, -50%);}
.mark-right .mark--text{top: 50%;right: -32px; transform: translate(0, -50%);}


.mark-left .mark--solid,
.mark-right .mark--solid{
    position: relative;
    height: 100%;
    border: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    width: 10px;
    border-style: solid;
    display: inline-block;
}
.mark-left .mark--solid:after,
.mark-right .mark--solid:after{position: absolute;display: block;content: "";width: 1px;left: 50%;border: 0;height: 100%;border-left-width: 1px;border-style: solid;}
.mark-left .mark--dotted,
.mark-right .mark--dotted{
    width: 10px;
    border: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 100%;
    border-style: dotted;
    display: inline-block;
}

/* =================== end mark =================== */




html,body {
    height: 100%;
    font-family: "Microsoft YaHei", sans-serif;
}
.container{background: transparent;max-width: 960px!important;margin: 10px 0;}
.margin{ margin-left: 20px; margin-right: 20px; }
.logo{ font-family: 'Josefin Sans', sans-serif;font-family: 'Quicksand', sans-serif; }
.sidebar {
    position: fixed;
    z-index: 1070;
    background: #fff;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    border-right: 1px solid #ccc;
}
.sidebar .logo {
    font-size: 30px;
    border-bottom: 1px solid #EBEBEB;

    padding: 15px 20px 20px;
    line-height: 1;
    color: #666;
}
.sidebar .nav { background: none; line-height: 1.42857;  }
.sidebar .nav-stacked > li + li{ margin-top: 0; }
.sidebar li a{
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
}
.outer { width: 1160px; margin: auto; }
.cont {
    float: left; width: 100%;
    padding-left: 240px; padding-bottom: 120px; }

.fs{ font-family: SimSun; }
.sub { font-size: 12px; color: #999; }
.mask { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background: #333; opacity: .3; height: 200px; }
td[rowspan] { background: #fff!important; }

.top-bar { padding: 20px; }
.top-bar .left,
.top-bar .right {
    height: 65px;
}
.top-bar .left {border-right: 1px solid #fff;padding: 0 30px;text-align: right;}
.top-bar .logo { font-size: 24px; }
.top-bar .right {padding: 0 30px;}
.top-bar .sub { color: #fff; }
.top-bar .media-left { padding-right: 0; }
.top-bar .media-body .title { font-size: 24px; font-family: "Microsoft JhengHei Light"; margin-top: -4px; }

.quotation { margin-top: 20px; margin-left: -15px; margin-right: -15px; background: #FFFBE0; padding: 20px; }
.table { background: #fff; }
.komod{ background: #fff; overflow: hidden; padding: 20px; }
.komod .title{ font-weight: 400; font-size: 24px; margin: 0; margin-bottom: 20px; }
.komod .ui{overflow: hidden;margin-bottom: 20px;}
.komod .ui .ui--box{padding: 60px; background: #f4f4f4;}
.komod .ui .table{ margin-bottom: 0; }
.komod .example { position: relative; padding: 50px 15px 15px;border: 1px solid #dedede;}
.komod .example:after,
.komod .api:after{position: absolute;top: 15px;left: 15px;content: '实例';display: block;font-size: 12px;font-weight: 700;color: #999;}


.scroll-hide{overflow-y: hidden;}
.hide-bar{ display: none; }
.komod .example-fullscreen{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;background: #fff;overflow-y: hidden;padding: 0;}
.komod .example-fullscreen:after{ display: none; }
.komod .example-fullscreen .hide-bar{display: block;background: #eee;padding: 10px;text-align: center;border: 1px solid #ccc;position: absolute;}


.komod .code{ background: #f7f7f9; border: 1px solid #dedede; padding: 10px 15px; margin-top: -1px; }
.komod .api{position: relative;padding: 50px 0 0;margin-top: 20px;}
.komod .api:after{ left: 0; content: 'API'; font-size: 16px; font-weight: 400; color: #333; }